Ejemplo-01/n8n-json/Ejemplo01-AI.json
{
  "name": "Ejemplo01-AI",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.Correo }}",
        "subject": "=Bienvenid@  {{ $json.Nombre }}",
        "message": "=Hola D/Dña  {{ $json.Nombre }}  Este es un mensaje De bienvenida para {{ $json.Correo }} Ahora eres una parte importante de nuestra empresa como {{ $json.Tipo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -192
      ],
      "id": "89eb62cf-210c-41ba-b746-e026fb240cf4",
      "name": "Send a message",
      "webhookId": "07d98488-c388-43cd-b762-c1f789add7b9",
      "credentials": {
        "gmailOAuth2": {
          "id": "MQ4qEt9Wy2HjwCLL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b42ac8b-6a42-4e2f-b1f6-8656cf3e2bcc",
              "leftValue": "={{ $json.Enviado }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -112
      ],
      "id": "39869e53-e4bf-49b3-b489-fcf43f6b8665",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -112
      ],
      "id": "ad0eb002-800d-47bb-b149-1dec4d737652",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -112
      ],
      "id": "778ca9d8-d3e6-4799-81bc-20a61ed4bab0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5HLWb5wM4x4nzQAE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Get row(s) in sheet').item.json.Nombre }}",
            "Correo": "={{ $('Get row(s) in sheet').item.json.Correo }}",
            "Tipo": "={{ $('Get row(s) in sheet').item.json.Tipo }}",
            "Enviado": "si",
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -192
      ],
      "id": "d360a4b3-3f72-4277-af0e-210b5b072608",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5HLWb5wM4x4nzQAE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        368,
        -192
      ],
      "id": "fae64f92-571f-4b3a-95e5-ae9cb5b79a01",
      "name": "Message a model"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a074ee14-434a-4c3f-9603-a4a3089b388f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c1931c762737cbe895957ff79663df314fe05f8260b19450d11f7bec96596f5"
  },
  "id": "tIS5SY5HuLBWMKqa",
  "tags": []
}