n8n-json/Ejemplo01-mejorado.json
{
  "name": "Ejemplo01-mejorado",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.Correo }}",
        "subject": "=Bienvenid@  {{ $json.Nombre }}",
        "message": "=Hola D/Dña  {{ $json.Nombre }}  Este es un mensaje De bienvenida para {{ $json.Correo }} Ahora eres una parte importante de nuestra empresa como {{ $json.Tipo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        496,
        -192
      ],
      "id": "bbcfc091-1656-4d26-8577-fb6272f338dc",
      "name": "Send a message",
      "webhookId": "1754dc70-e412-4dd9-8be1-7afcc7713c80",
      "credentials": {
        "gmailOAuth2": {
          "id": "MQ4qEt9Wy2HjwCLL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b42ac8b-6a42-4e2f-b1f6-8656cf3e2bcc",
              "leftValue": "={{ $json.Enviado }}",
              "rightValue": "no",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -112
      ],
      "id": "b8977e5e-b1a1-4da5-a10a-e30edc9b7219",
      "name": "If"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -112
      ],
      "id": "35568ce1-0a27-4e19-8fe4-3dbf602f372f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -112
      ],
      "id": "695ba760-2b1d-473c-8012-3ccbb5d56cde",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5HLWb5wM4x4nzQAE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4",
          "mode": "list",
          "cachedResultName": "data-n8n-ejemplo-01",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VA0_pnyzTiWbEzeTgMKSjmtPU3iMtH5iQ54HLZwtRE4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Get row(s) in sheet').item.json.Nombre }}",
            "Correo": "={{ $('Get row(s) in sheet').item.json.Correo }}",
            "Tipo": "={{ $('Get row(s) in sheet').item.json.Tipo }}",
            "Enviado": "si",
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enviado",
              "displayName": "Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        -192
      ],
      "id": "a7f358be-902d-4337-982b-2eceafb63f9b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5HLWb5wM4x4nzQAE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        320,
        96
      ],
      "id": "953b178b-c521-4a6c-b41f-b615da76c241",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "603f8e55-8d25-4fb9-840c-9b081fbb459e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c1931c762737cbe895957ff79663df314fe05f8260b19450d11f7bec96596f5"
  },
  "id": "BsESORSm1XKjZtp2kgwsn",
  "tags": []
}